.item {
    cursor: pointer;
	display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow-y: hidden;

	&[data-type=item] {
        height: 20px;
        transition: background-color .3s;
        &:active {
            background-color: var(--button-active);
        }
        &:hover {
            background-color: var(--button-hover);
        }
	}

	@media only screen and (min-width: 769px) {
        padding: 5px;
        font-size: 14px;
	}

	@media only screen and (max-width: 768px) {
        &[data-type=item] {
            height: 60px;
            padding: 0 20px;
            font-size: 1rem;
        }
	}

	.icon {
        fill: var(--icon);
        height: 20px;
        width: 20px;
        margin-right: 8px;
        
        @media only screen and (max-width: 900px) { height: 28px; width: 28px; margin-right: 12px; }
	}
}