.message {
	display: flex;
	margin: 25px 0;
	overflow: hidden;

	@media only screen and (max-width: 768px) {user-select: none;}

	.avatar {
		flex: 0 0 auto;
		background-size: cover;
		background-position: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 20px;
		background-color: grey;
		cursor: pointer;
	}

	.content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		font-size: 0.875rem;
		color: var(--body-text);

		&, * {
			min-width: 0;
			overflow-wrap: break-word;
			word-wrap: break-word;
			word-break: break-word;
			overflow: hidden;
		}
		
		.header {
			margin-bottom: 2px;

			.username {
				font-size: 1rem;
				font-weight: 600;
				padding-right: 4px;
				cursor: pointer;
				min-width: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				color: var(--username);
			}

			time {
				display: inline;
				word-break: none;
				font-weight: 400;
				color: #808080;
				font-size: 0.75rem;
			}
		}

		.line {
			padding: 0 2px;
			@media only screen and (max-width: 900px) {
				&:active {
					transition: background-color .2s; 
					border-radius: 2px; 
					background-color: var(--secondary);
				}
			}
		}
	}
}

.separator {
	display: flex;
	align-items: center;
	user-select: none;
	&:first-child { display: none; }

	.bar {
		flex: 1 1 auto;
		height: 1px;
		background: gray;
		margin: 0px 10px;
		border-radius: 60px;

		@media only screen and (max-width: 900px) { margin: 0 8px; }
	}

	.text {
		font-size: .75rem;
		flex: 0 0 auto;
		color: gray;
	}

	&.new {
		.bar { background: #DF3535; }
		.text { color: #DF3535; }
	}
}

.contextHeader {
	padding: 12px 10px;

	.avatar {
		height: 50px;
		width: 50px;
		display: flex;
		flex-shrink: 0;
		border-radius: 50%;
		margin-right: 20px;
		background: var(--tertiary);
		background-size: cover;
		background-position: center;
	}

	.context {
		flex-direction: column;
		overflow: hidden;
		
		.contextUsername {
			display: flex;
			font-size: 1.125rem;
			font-weight: 700;
		}
	
		.contextMessage {
			min-width: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin: 0;
			font-size: 14px;
			color: var(--body-text);
		}
	}
}