.root {
	display: flex;
	flex-direction: column;
    height: 100vh;
    color: var(--body-text);

	.header { flex-shrink: 1; }

	.body {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		overflow: hidden;
		min-height: 0;

		.chat {
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			.messages {
				flex-grow: 1;
				padding: 0px 30px;
				user-select: text;
				color: var(--body-text);

				@media only screen and (max-width: 900px) { padding: 0 12px; }
			}


				.pending {
					opacity: .5;
				}
			}

			.messageBox {
				flex-shrink: 0;
			}
		}

		.sidebar {
			//flex-shrink: 1;
			//padding: 0 10px;
			background: var(--secondary);
			width: 240px;

			@media only screen and (max-width: 900px) {width: 280px;}

			.header {
				padding: 15px 10px 10px;
				background: var(--primary);

				@media only screen and (min-width: 901px) {display: none;}

				.channelTitle {
					font-size: 14px;
					margin-bottom: 2px;
					font-weight: 600;
				}
	
				.channelDesc {
					color: var(--main-text);
					font-size: 12px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
	
			}

			.members {
				padding: 10px;
				flex-grow: 1;
			}

			&:not(.visible) {
				display: none;
			}
		}
	}