.floating {
	position: fixed;
	border-radius: 12px;
}

.menu {
    background-color: var(--primary) !important;
    color: var(--main-text) !important;
	padding: 0 10px 10px;
	
	&.floating {
		padding: 0;
	}

    @media only screen and (min-width: 769px) {
        background-color: var(--secondary) !important;
        padding: 10px;
    }

    .header {
        display: none;
        @media only screen and (max-width: 768px) {
            display: flex;
        }
    }

    > .divider {
        height: 1px;
        width: 100%;
        border-radius: 60px;
        background: var(--body-text);
    }
}