.banner {
    position: absolute;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    box-sizing: border-box;
    min-height: 50px;
    color: white;
    font-size: .8125rem;

	&.inherit { position: inherit; }
	&.centered { position: relative; text-align: center; }
	&.error { background: var(--red); }
	&.update { background: var(--green); }

    .title {
        font-weight: bold;
        flex: 0 0 auto;
        text-transform: uppercase;
    }

    .divider {
        flex: 0 0 auto;
        display: block;
        height: 26px;
        width: 1px;
        margin: 0 10px;
        background: #FFFFFF;
        border-radius: 60px;
        opacity: .5;
    }

    .text {
		flex: 1 1 auto;
	}

    .dismiss {
        margin: 0 10px;
        cursor: pointer;
    }

    .button {
        background: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 4px;
        margin-left: 10px;
    }
}