.tabs {
	display: flex;
	color: var(--main-text);
	height: 58px;
	align-items: center;
	justify-content: center;
}

.tab {
	position: relative;
	cursor: pointer;
	display: flex;
	height: 58px;
	min-width: 80px;
	font-size: 14px;
	align-items: center;
	justify-content: center;

	.bar {
		position: absolute;
		bottom: 0px;
		left: 50%; //after disabling animations, this property must be removed
		transform: translate(-50%, 0%);
		height: 2px;
		background-color: var(--accent-color, #7B68EE);
		width: 0%;
		transition: width .3s;
		border-radius: 60px;
		pointer-events: none;

		&.incoming {
			background-color: red;
			width: 0%;
		}
	
	}
	
	&[data-active=true] {
		cursor: default;
		.bar { width: 100%; }
	}
}