.tabs {
	display: flex;
	color: white;
	height: 58px;
	align-items: center;
	justify-content: center;
}

.tab {
	cursor: pointer;
	display: flex;
	height: 58px;
	min-width: 80px;
	font-size: 14px;
	align-items: center;
	justify-content: center;

	&[data-active=true] {
		cursor: default;
		border-bottom: 1px solid mediumslateblue;
	}
}