.browse {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80px;
    background: var(--primary);
    :nth-last-child(2) { margin-bottom: 60px; }

    .home {
        margin: 8px 0;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        border: 2px solid transparent;
        background: #4D4D4D;
        cursor: pointer;
        transition: .3s;
        flex-shrink: 0;

        background: var(--home);
        &.active {background: var(--home-active); }

        span {
            $icon-size: 26px;
            margin: (54px - $icon-size) / 2;
            width: $icon-size;
            height: $icon-size;
            svg {
                width: $icon-size;
                height: $icon-size;
            }
        }
    }

    .divider {
        $width: 60px;
        display: block;
        height: 1px;
        width: $width;
        margin: 10px ((88px - $width) / 2);
        border-radius: 60px;
        background: var(--divider);
        flex: 0 0 auto;
    }

    .add {
        width: 80px;
        z-index: 1;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        left: 0;
        background: linear-gradient(transparent, var(--secondary));

        svg { cursor: pointer; }

        span, svg {
            position: relative;
            display: block;
            width: 45px;
            height: 45px;
            margin: 10px;
            fill: var(--accent-color, var(--default-accent-color));
        }
    }
}