.chat {
    background: var(--primary);
	display: flex;
	height: 100vh;
	width: 100vw;

	.sidebar {
		display: flex;
		//flex-shrink: 1;
		//max-height: 100%;
		height: 100vh;

		.conversation {
			display: flex;
			flex-direction: column;
			width: 240px;
			color: var(--main-text);
			background: var(--secondary);
			border-radius: 10px 0 0 10px;
			height: 100vh;

			.temporary {
				height: 100vh;
				flex-grow: 1;
			}
		}
	}
	
	.main {
		flex-grow: 1;
		background: var(--primary);
	}
}