.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.login {
	position: relative;
	color: white;
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	min-height: 600px;
	user-select: none;
	background-image: url('../assets/images/pro-banner.jpg');
	background-size: cover;
	background-position: center;

	.logo {height: 50px;}

	.form {
		max-width: 450px;
		border-radius: 10px;
        padding: 25px;
		box-sizing: border-box;
		box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
		background: var(--main);

		.welcome {
			font-size: 24px;
			margin-bottom: 8px;
		}

		.title {
			text-transform: uppercase;
			color: #aaaaaa;
			font-size: .75rem;
			font-weight: bold;
			margin-bottom: 4px;
			letter-spacing: .7px;
		}

		.link {
			color: mediumslateblue;
			margin: 12px 0;
			font-weight: 600;
			text-decoration: none;
		}

		.signin {
			color: #aaaaaa;
			font-size: .875rem;
		}

		button {
			margin: 8px 0;
		}
	}
    
    @media screen and (max-width: 900px) {
        & {
            display: flex;
            flex-direction: column;
        }
 
        .left {
			padding: 40px 20px 0 20px;
			.logo {height: 24px;}
		}

		.right {padding: 0;}

        .form {
            position: absolute;
            left: 10px;
            right: 10px;
            top: 50%;
			transform: translateY(-50%);
			margin: 0 auto;
        }
    }

    @media screen and (min-width: 901px) {
        display: flex;
        align-items: center;
        
        .left {
			flex: 45%;
			padding: 50px;
			
			.logo {float: right;}
        }

        .right {
			flex: 55%;
            padding: 50px;
            border-radius: 10px;
        }
    }
}