.settings {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	outline: none;
	background: var(--primary);
	display: flex;

	@media screen and (max-width: 900px) {
		flex-direction: column;
	}

	.main {
		flex-grow: 1;
		display: flex;

		.content {
			flex: 7;
		
			@media screen and (max-width: 900px) {
				&:not(.shown) {
					display: none;
				}
			}
		}
	}

	.header {
        display: flex;
		width: 100%;
		height: 58px;
		padding: 14px 20px;
		box-sizing: border-box;
		align-items: center;
		color: var(--body-text);
		background: var(--secondary);
	
		@media screen and (min-width: 901px) { display: none; }
	
		svg { cursor: pointer; }
	
		.title {
			font-weight: 600;
			flex: 1 1 auto;
		}
	
		.close {
			height: 30px;
			width: 30px;
            margin-right: 10px;
            fill: var(--icon); //a different className overwrites className icon, needs fix
		}
	}
}