/*@keyframes open {
	from {
		transition: opacity .2s, transform .2s;
		opacity: 0;
		transform: scale(1.2);
		pointer-events: none;
		outline: none;
	}
	to   {
		opacity: 1;
		transform: scale(1);
		pointer-events: all;
	}
}*/



.settings {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8000;
	outline: none;
	background: var(--primary);
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 900px) { background: var(--secondary); }

	.main {
		flex-grow: 1;
		display: flex;
		overflow: hidden;

		.content {
			flex: 7;
			display: flex;
			padding: 80px 40px 40px;
		
			@media screen and (max-width: 900px) {
				background: var(--primary);
				padding: 20px 12px;
				&:not(.shown) {
					display: none;
				}
			}

			.primary {
				color: var(--body-text);
				flex-grow: 1;

				.title {
					display: none;
					@media screen and (min-width: 901px) {
						display: block;
						font-size: 20px;
						font-weight: 600;
						margin-bottom: 15px;
					}
				}
			}
		}
	}

	.header {
		flex-shrink: 0;
        display: flex;
		width: 100%;
		height: 56px;
		padding: 0 15px;
		box-sizing: border-box;
		align-items: center;
		color: var(--body-text);
		background: var(--secondary);
	
		@media screen and (min-width: 901px) { display: none; }
	
		svg { cursor: pointer; }
	
		.title {
			font-weight: 600;
			flex: 1 1 auto;
		}
	
		.x {
			height: 30px;
			width: 30px;
            margin-right: 10px;
            fill: var(--icon); //a different className overwrites className icon, needs fix
		}
	}
}

.close {
	display: block;
	min-width: 140px;

	svg {
		right: 100px;
		position: absolute;
		display: flex;
		cursor: pointer;
		justify-content: center;
		height: 40px;
		width: 40px;
		fill: white;
		border: 1px solid grey;
		border-radius: 50%;
	}

	@media screen and (max-width: 901px) {
		display: none;
	}
}