.theme-dark {
	--icon: #EFEFEF;
	--unread: #EFEFEF;

	--main: #333234;
	--sub: #212121;
	--profile: #40440;
	--main-text: #E8E8E8;
	--body-text: #FFFFFF;

	--username: #E8E8E8;

	--home: #4D4D4D;
	--home-active: lighten(#4D4D4D, 10%);
	--divider: #707070;

	--button: #303030;
	--button-hover: #373737;
	--button-active: #2C2C2C;
	
	--button-call: #4D4D4D;

	--messagebox: #434343;
	--action-button: #707070;

	--scrollbar: #242424;
	--scrollbar-thumb: rgba(255, 255, 255, 0.2);
}