@import 'dark';
@import 'light';

:root {
	--default-accent-color: #7B68EE;
	--divider: #707070;

	--mention: #DF3535;
	--streaming: #977EFF;
	--unclaimed: #E5AA07;
	--accept: #14B89C;

	--red: #D14F4F;
	--yellow: #FFBB00;
	--green: #36AD93;
}