.button {
	display: flex;
	color: white;
	padding: 2px 16px;
	text-align: center;
	text-decoration: none;
	height: 38px;
	justify-content: center; //remove this if this has no effect
	align-items: center;
	font-size: .875rem;
	border-radius: 4px;
	cursor: pointer;

	&.confirm {background: var(--accent-color); margin-left: 20px;}
	&.cancel {background: #4f545c;} 
	&.warning {background: var(--red);}
}

.disabled {
	cursor: not-allowed;
}