.button {
	border: 0;
	display: flex;
	color: white;
	padding: 10px 16px;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	font-size: .875rem;
	border-radius: 4px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0);
	justify-content: center;
	outline: 0;

	&.confirm { background: var(--accent-color);}
	&.cancel { background: #4f545c; } 
	&.warning { background: var(--red); }

	&.fullwidth { width: 100%; }
}

.disabled {
	cursor: not-allowed;
}