@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import 'themes/index';

* {
	animation-iteration-count: infinite;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;
	//::-moz-selection {color: var(--accent-color-text, white); background: rgba(var(--accent-color-rgb), .8);} //Add later
	//::selection {color: var(--accent-color-text, white); background: rgba(var(--accent-color-rgb), .8);} //Add later
}

html, body {
	margin: 0;
	padding: 0;
	background: var(--primary); //either background or background-color for iOS to pick it up
	font-family: 'Open Sans', sans-serif;
	user-select: none;
	overscroll-behavior: contain;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
}

// causes issues on Firefox, outta here
// as I said, remove when in production mode. This iFrame shows compilation errors.
// no
iframe {
	display: none;
}

svg {
	shape-rendering: geometricPrecision;
}